<div class="row" style="background-color: #f7f7fa;">
  <div class="col-lg-2">
    <div class="sc-6a72e040-3 juIHfI">
      <div class="sc-6a72e040-4 fNMDAX">
        <div data-qa="filter-container">
          <div class="sc-22aec865-0 eAQYDH">
            <div data-qa="Fulfillment" class="sc-517ef466-0 bFJNfk">
              <div class="sc-517ef466-1 cMiONB">
                <div open="" class="sc-517ef466-2 heqrHC">
                </div>
              </div>
              <div class="sc-22aec865-0 eAQYDH">
                <div data-qa="Category" class="sc-517ef466-0 bFJNfk">
                  <div class="sc-517ef466-1 cMiONB">
                    <div class="sc-517ef466-3 dMBOlX">
                      <div class="sc-517ef466-3 dMBOlX"><span>Category</span></div><img
                        src="https://z.nooncdn.com/s/app/com/noon/icons/down-chevron.svg" alt="Category"
                        class="sc-afe2674f-1 cfKlFZ open">
                    </div>
                  </div>
                  <div open="" class="sc-517ef466-2 heqrHC">
                    <ul class="sc-f87e2b7-0 brIkoP">
                      <li class="sc-8de4e34f-0 hSPkqe expander"><a href="/egypt-en/electronics-and-mobiles/">
                          <div class="sc-8de4e34f-1 dXFUFJ"><i class="sc-8de4e34f-2 eplFQV">
                              <div class="sc-7d9be1f5-0 dVWzTu"><img
                                  src="https://z.nooncdn.com/s/app/com/noon/design-system/icons/minus-grey.svg"
                                  alt="minusGrey" width="16px" height="16px" class="sc-afe2674f-1 eODKWw"></div>
                            </i><span>Electronics &amp; Mobiles</span></div>
                        </a>
                        <div class="sc-8de4e34f-3 ioedRD">
                          <ul><a href="/egypt-en/electronics-and-mobiles/">
                              <li class="sc-8de4e34f-4 bOfLTf">All Electronics &amp; Mobiles</li>
                            </a>
                            <li class="sc-8de4e34f-0 hSPkqe"><a href="/egypt-en/mobiles-and-accessories/">
                                <div class="sc-8de4e34f-1 dXFUFJ"><i class="sc-8de4e34f-2 eplFQV">
                                    <div class="sc-7d9be1f5-0 dVWzTu"><img
                                        src="https://z.nooncdn.com/s/app/com/noon/design-system/icons/plus-grey.svg"
                                        alt="plusGrey" width="16px" height="16px" class="sc-afe2674f-1 eODKWw"></div>
                                  </i><span>Mobiles &amp; Accessories</span></div>
                              </a>
                              <div class="sc-8de4e34f-3 bFBjnN">
                                <ul><a href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/">
                                    <li class="sc-8de4e34f-4 bOfLTf">All Mobiles &amp; Accessories</li>
                                  </a>
                                  <li class="sc-8de4e34f-0 hSPkqe"><a href="/egypt-en/accessories-16176/">
                                      <div class="sc-8de4e34f-1 dXFUFJ"><i class="sc-8de4e34f-2 eplFQV">
                                          <div class="sc-7d9be1f5-0 dVWzTu"><img
                                              src="https://z.nooncdn.com/s/app/com/noon/design-system/icons/plus-grey.svg"
                                              alt="plusGrey" width="16px" height="16px" class="sc-afe2674f-1 eODKWw">
                                          </div>
                                        </i><span>Accessories</span></div>
                                    </a>
                                    <div class="sc-8de4e34f-3 bFBjnN">
                                      <ul><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/accessories-16176/">
                                          <li class="sc-8de4e34f-4 bOfLTf">All Accessories</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/accessories-16176/cases-and-covers/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Cases &amp; Covers</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/accessories-16176/screen-protectors-24427/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Screen Protectors</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/accessories-16176/data-cables/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Data Cables</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/accessories-16176/chargers-17982/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Chargers</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/accessories-16176/power-banks/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Power Banks</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/accessories-16176/bluetooth-speakers/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Portable Bluetooth Speakers</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/accessories-16176/car-chargers-18279/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Car Chargers</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/accessories-16176/mounts-24349/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Mounts &amp; Holders</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/accessories-16176/car-mounts/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Car Mobile Holders</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/accessories-16176/headsets-18965/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Headsets</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/accessories-16176/stylus-pens/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Stylus Pens</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/accessories-16176/selfie-sticks/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Selfie Sticks</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/accessories-16176/mobile-camera-lens-protectors/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Camera Lens Protectors</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/accessories-16176/micro-sd-cards-25125/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Micro SD Cards</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/accessories-16176/bluetooth-trackers/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Smart Trackers</li>
                                        </a></ul>
                                    </div>
                                  </li>
                                  <li class="sc-8de4e34f-0 hSPkqe"><a href="/egypt-en/mobiles-20905/">
                                      <div class="sc-8de4e34f-1 dXFUFJ"><i class="sc-8de4e34f-2 eplFQV">
                                          <div class="sc-7d9be1f5-0 dVWzTu"><img
                                              src="https://z.nooncdn.com/s/app/com/noon/design-system/icons/plus-grey.svg"
                                              alt="plusGrey" width="16px" height="16px" class="sc-afe2674f-1 eODKWw">
                                          </div>
                                        </i><span>Mobile Phones</span></div>
                                    </a>
                                    <div class="sc-8de4e34f-3 bFBjnN">
                                      <ul><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/mobiles-20905/">
                                          <li class="sc-8de4e34f-4 bOfLTf">All Mobile Phones</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/mobiles-20905/smartphones/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Smartphones</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/mobiles-and-accessories/mobiles-20905/feature_phones/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Feature Phones</li>
                                        </a></ul>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </li>
                            <li class="sc-8de4e34f-0 hSPkqe"><a href="/egypt-en/computers-and-accessories/">
                                <div class="sc-8de4e34f-1 dXFUFJ"><i class="sc-8de4e34f-2 eplFQV">
                                    <div class="sc-7d9be1f5-0 dVWzTu"><img
                                        src="https://z.nooncdn.com/s/app/com/noon/design-system/icons/plus-grey.svg"
                                        alt="plusGrey" width="16px" height="16px" class="sc-afe2674f-1 eODKWw"></div>
                                  </i><span>Computers &amp; Accessories</span></div>
                              </a>
                              <div class="sc-8de4e34f-3 bFBjnN">
                                <ul><a href="/egypt-en/electronics-and-mobiles/computers-and-accessories/">
                                    <li class="sc-8de4e34f-4 bOfLTf">All Computers &amp; Accessories</li>
                                  </a>
                                  <li class="sc-8de4e34f-0 hSPkqe"><a href="/egypt-en/laptop-accessories/">
                                      <div class="sc-8de4e34f-1 dXFUFJ"><i class="sc-8de4e34f-2 eplFQV">
                                          <div class="sc-7d9be1f5-0 dVWzTu"><img
                                              src="https://z.nooncdn.com/s/app/com/noon/design-system/icons/plus-grey.svg"
                                              alt="plusGrey" width="16px" height="16px" class="sc-afe2674f-1 eODKWw">
                                          </div>
                                        </i><span>Laptop Accessories</span></div>
                                    </a>
                                    <div class="sc-8de4e34f-3 bFBjnN">
                                      <ul><a
                                          href="/egypt-en/electronics-and-mobiles/computers-and-accessories/laptop-accessories/">
                                          <li class="sc-8de4e34f-4 bOfLTf">All Laptop Accessories</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/computers-and-accessories/laptop-accessories/screen-protectors-26162/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Screen Protectors</li>
                                        </a>
                                        <li class="sc-8de4e34f-0 hSPkqe"><a href="/egypt-en/bags-and-cases-16607/">
                                            <div class="sc-8de4e34f-1 dXFUFJ"><i class="sc-8de4e34f-2 eplFQV">
                                                <div class="sc-7d9be1f5-0 dVWzTu"><img
                                                    src="https://z.nooncdn.com/s/app/com/noon/design-system/icons/plus-grey.svg"
                                                    alt="plusGrey" width="16px" height="16px"
                                                    class="sc-afe2674f-1 eODKWw"></div>
                                              </i><span>Bags &amp; Cases</span></div>
                                          </a>
                                          <div class="sc-8de4e34f-3 bFBjnN">
                                            <ul><a
                                                href="/egypt-en/electronics-and-mobiles/computers-and-accessories/laptop-accessories/bags-and-cases-16607/">
                                                <li class="sc-8de4e34f-4 bOfLTf">All Bags &amp; Cases</li>
                                              </a><a
                                                href="/egypt-en/electronics-and-mobiles/computers-and-accessories/laptop-accessories/bags-and-cases-16607/sleeves-and-slipcases-23672/">
                                                <li class="sc-8de4e34f-4 bOfLTf">Sleeves &amp; Slipcases</li>
                                              </a><a
                                                href="/egypt-en/electronics-and-mobiles/computers-and-accessories/laptop-accessories/bags-and-cases-16607/backpacks-26174/">
                                                <li class="sc-8de4e34f-4 bOfLTf">Backpacks</li>
                                              </a></ul>
                                          </div>
                                        </li><a
                                          href="/egypt-en/electronics-and-mobiles/computers-and-accessories/laptop-accessories/chargers-and-adapters-17988/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Chargers &amp; Adapters</li>
                                        </a><a
                                          href="/egypt-en/electronics-and-mobiles/computers-and-accessories/laptop-accessories/batteries-20159/">
                                          <li class="sc-8de4e34f-4 bOfLTf">Batteries</li>
                                        </a>
                                      </ul>
                                    </div>
                                  </li>
                                  <li class="sc-8de4e34f-0 hSPkqe"><a href="/egypt-en/cables-and-accessories/">
                                      <div class="sc-8de4e34f-1 dXFUFJ"><i class="sc-8de4e34f-2 eplFQV">
                                          <div class="sc-7d9be1f5-0 dVWzTu"><img
                                              src="https://z.nooncdn.com/s/app/com/noon/design-system/icons/plus-grey.svg"
                                              alt="plusGrey" width="16px" height="16px" class="sc-afe2674f-1 eODKWw">
                                          </div>
                                        </i><span>Accessories &amp; Peripherals</span></div>
                                    </a>
                                    <div class="sc-8de4e34f-3 bFBjnN">
                                      <a
                                        href="/egypt-en/electronics-and-mobiles/computers-and-accessories/cables-and-accessories/">
                                  <li class="sc-8de4e34f-4 bOfLTf">All Accessories &amp; Peripherals</li>
                                  </a><a
                                    href="/egypt-en/electronics-and-mobiles/computers-and-accessories/cables-and-accessories/keyboard-and-mouse-accessories/">
                                    <li class="sc-8de4e34f-4 bOfLTf">Keyboard &amp; Mouse Accessories</li>
                                  </a><a
                                    href="/egypt-en/electronics-and-mobiles/computers-and-accessories/cables-and-accessories/mousepads/">
                                    <li class="sc-8de4e34f-4 bOfLTf">Mousepads</li>
                                  </a><a
                                    href="/egypt-en/electronics-and-mobiles/computers-and-accessories/cables-and-accessories/gaming-headsets/">
                                    <li class="sc-8de4e34f-4 bOfLTf">Gaming Headsets</li>
                                  </a><a
                                    href="/egypt-en/electronics-and-mobiles/computers-and-accessories/cables-and-accessories/gaming-mouse-vg/">
                                    <li class="sc-8de4e34f-4 bOfLTf">Gaming Mouse</li>
                                  </a><a
                                    href="/egypt-en/electronics-and-mobiles/computers-and-accessories/cables-and-accessories/gaming-keyboards-vg/">
                                    <li class="sc-8de4e34f-4 bOfLTf">Gaming Keyboards</li>
                                  </a><a
                                    href="/egypt-en/electronics-and-mobiles/computers-and-accessories/cables-and-accessories/mouses/">
                                    <li class="sc-8de4e34f-4 bOfLTf">Computer Mouse</li>
                                  </a><a
                                    href="/egypt-en/electronics-and-mobiles/computers-and-accessories/cables-and-accessories/printer-accessories-22725/">
                                    <li class="sc-8de4e34f-4 bOfLTf">Printer Accessories</li>
                                  </a><a
                                    href="/egypt-en/electronics-and-mobiles/computers-and-accessories/cables-and-accessories/keyboards-21187/">
                                    <li class="sc-8de4e34f-4 bOfLTf">Keyboards</li>
                                  </a><a
                                    href="/egypt-en/electronics-and-mobiles/computers-and-accessories/cables-and-accessories/printer-ink-and-toner/">
                                    <li class="sc-8de4e34f-4 bOfLTf">Printer Ink &amp; Toner</li>
                                  </a><a
                                    href="/egypt-en/electronics-and-mobiles/computers-and-accessories/cables-and-accessories/gaming-mousepad/">
                                    <li class="sc-8de4e34f-4 bOfLTf">Gaming Mousepads</li>
                                  </a><a
                                    href="/egypt-en/electronics-and-mobiles/computers-and-accessories/cables-and-accessories/gaming-keyboard-mouse-set-ea/">
                                    <li class="sc-8de4e34f-4 bOfLTf">Gaming Keyboard &amp; Mouse Sets</li>
                                  </a>
                                  <div class="sc-8de4e34f-0 hSPkqe"><a href="/egypt-en/input-devices/">
                                      <div class="sc-8de4e34f-1 dXFUFJ"><i class="sc-8de4e34f-2 eplFQV">
                                          <div class="sc-7d9be1f5-0 dVWzTu"><img
                                              src="https://z.nooncdn.com/s/app/com/noon/design-system/icons/plus-grey.svg"
                                              alt="plusGrey" width="16px" height="16px" class="sc-afe2674f-1 eODKWw">
                                          </div>
                                        </i><span>Input Devices</span></div>
                                    </a>
                                  </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                  </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-10">
  <div class="item">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 ">
      <ng-container  *ngFor="let SingleProduct of ArrayOfProducts; let i=index">

        <div class="col px-3 py-4 border-1 rounded-2 " *ngIf="SingleProduct.stock > 0">
          <div class="card h-100 rounded-0 " >
  <button class="w-100 border-0 rounded-0 bg-white " (click)="ShowProductDetails(SingleProduct.id)" [routerLink]="['/productsdetails', SingleProduct.id]">
            <img [src]="SingleProduct.thumbnail" class="w-100 card-img-top" [alt]="SingleProduct.description">
          </button>
            <div class="card-body text-center ">
              <p class="card-title my-3 ">{{SingleProduct.description}}</p>
              <h5 class="card-text "> <span>EGP</span> {{SingleProduct.price}}.00</h5>
              <p style="font-size: 12px;" *ngIf="SingleProduct.discountPercentage>0"><span
                  style="text-decoration-line: line-through;">EGP
                  {{(SingleProduct.price*(100+SingleProduct.discountPercentage)/100)| number: '1.0-0'}}
                </span> <span class="fw-bolder ms-2" style="color:rgb(137, 225, 4)">
                  {{SingleProduct.discountPercentage}}%
                  OFF</span>
              </p>
              <div class="d-flex justify-content-between ">
                <p class="yellow-badge ps-1">express</p>
                <p style="font-size: 12px;" class="text-warning  fw-bold"> <i
                    class="bi bi-star-fill text-warning "></i>{{SingleProduct.rating}}</p>
              </div>
            </div>
            <div *ngIf="SingleProduct.rating>4.8" class="best-seller">
              Best Seller
            </div>
          </div>
        </div>
      </ng-container>
      
    </div>
  </div>
</div>
</div>
