<div class="container-fluid overflow-hidden">
    <div class="cartdiv">
      <div class="row">
        <div class="col-lg-7 col-md-7 mt-4" style="margin-left: 50px;">
          <!-- Cart -->
          <div id="cart">
            <div class="cart">
              <div class="header p-1" id="headercart">
                <h4>Cart</h4>
              </div>
              <ng-container *ngIf="LocalStorageProducts != null">
                <div *ngFor="let product of LocalStorageProducts">
                  <div class="row p-3">
                    <div class="col-lg-2">
                      <img [src]="product.product.images" class="img-fluid" />
                    </div>

                    <div class="col-7">
                      <p>{{lang=="en"?product.product.name:product.product.nameArabic}}</p>
                      <p>{{lang=="en"?product.product.description:product.product.descriptionAr}}</p>
                      <p>{{'orderSummery.quantity'}}: {{product.quantity}}</p>
                      <p>{{'orderSummery.price'}}: {{product.product.price-(product.product.price*product.product.discountPercentage)}}</p>

                    </div>
                    <div class="col-lg-3 text-center">


                      <button class="btn btn-danger mt-4 " (click)="Remove(product.product.id)" >{{'Cart.Remove'}}</button>


                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <!-- Router -->
          <a routerLink="/">
            <button class="btn btn-outline-primary mt-4 mb-4">
              {{'Cart.ContinueShopping'}}
            </button>
          </a>
          <!-- Wishlist -->

        </div>
        <div class="col-lg-4 col-md-4 mt-4">
          <div class="rightside p-4">
            <h5>{{'orderSummery.OrderSummary'}}</h5>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="{{'orderSummery.copon'}}"
                aria-label="Recipient's username" aria-describedby="basic-addon2" />
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">{{'orderSummery.applay'}}</button>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <p class="mt-4">{{'orderSummery.subtotatl'}}({{LocalStorageProducts.length}})</p>
                <p class="mt-4">{{'orderSummery.shipping'}}</p>
              </div>
              <div class="col-4">
                <p class="mt-4">Egy {{totalPrice}}</p>
                <p class="mt-4">{{'orderSummery.free'}}</p>
              </div>
            </div>
            <hr />

            <div class="row">
              <div class="col-8">
                <p class="mt-4">{{'orderSummery.Total'}}</p>
              </div>
              <div class="col-4">
                <p class="mt-4">Egy {{totalPrice}}</p>
              </div>
              <div class="col-12 text-center">
                <img src="https://z.nooncdn.com/s/app/com/noon/icons/emi.svg" />
                <p class="d-inline">{{'orderSummery.descripe'}}</p>
                <button class="w-75 btn btn-primary" [disabled]="LocalStorageProducts.length==0" (click)="CheckOut()">
                  {{'orderSummery.chackOut'}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
