<div class="footerSection">
  <div class="upper">
    <div class="row">
      <div class="col-lg-5">
        <div class="upperLeft">
          <h3>We're Always Here To Help</h3>
          <p>Reach out to us through any of these support channels</p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="upperRight">
          <div class="row">
            <div class="col-sm-4">
              <div class="contactWays">
                <p>
                  <i class="fa fa-exclamation" aria-hidden="true"></i>
                </p>
                <div class="content">
                  <h5>HELP CENTER</h5>
                  <a href="#">
                    <h3>help.noon.com</h3>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="contactWays">
                <p><i class="fa fa-envelope" aria-hidden="true"></i></p>
                <div class="content">
                  <h5>EMAIL SUPPORT</h5>
                  <a href="mailto:egypt@noon.com" target="_blank"
                    ><h3>egypt@noon.com</h3></a
                  >
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="contactWays">
                <p><i class="fa fa-phone" aria-hidden="true"></i></p>
                <div class="content">
                  <h5>PHONE SUPPORT</h5>
                  <a href="">
                    <h3>16358</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="middel">
      <div class="row">
        <div class="col-xl-2 col-md-4 col-6">
          <h3 class="header">ELECTRONICS</h3>
          <ul class="list-unstyled">
            <li><a>Mobiles</a></li>
            <li><a>Tablets</a></li>
            <li><a>Laptops</a></li>
            <li><a>Home Appliances</a></li>
            <li><a>Camera, Photo & Video</a></li>
            <li><a>Televisions</a></li>
            <li><a>Headphones</a></li>
            <li><a>Video Games</a></li>
          </ul>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <h3 class="header">FASHION</h3>
          <ul class="list-unstyled">
            <li><a>Women's Fashion</a></li>
            <li><a>Men's Fashion</a></li>
            <li><a>Girls' Fashion</a></li>
            <li><a>Boys' Fashion</a></li>
            <li><a>Men's Watches</a></li>
            <li><a>Women's Watches</a></li>
            <li><a>Eyewear</a></li>
            <li><a>Bags & Luggage</a></li>
          </ul>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <h3 class="header">HOME AND KITCHEN</h3>
          <ul class="list-unstyled">
            <li><a>Kitchen & Dining</a></li>
            <li><a>Bedding</a></li>
            <li><a>Bath</a></li>
            <li><a>Home Decor</a></li>
            <li><a>Home Appliances</a></li>
            <li><a>Tools & Home Improvement</a></li>
            <li><a>Patio, Lawn & Garden</a></li>
            <li><a>Home Storage & Organisation</a></li>
          </ul>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <h3 class="header">BEAUTY</h3>
          <ul class="list-unstyled">
            <li><a>Women's Fragrance</a></li>
            <li><a>Men's Fragrance</a></li>
            <li><a>Make-Up</a></li>
            <li><a>Haircare</a></li>
            <li><a>Skincare</a></li>
            <li><a>Personal Care</a></li>
            <li><a>Tools & Accessories</a></li>
          </ul>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <h3 class="header">KIDS, BABY & TOYS</h3>
          <ul class="list-unstyled">
            <li><a>Strollers, Prams & Accessories</a></li>
            <li><a>Car Seats</a></li>
            <li><a>Baby Clothing</a></li>
            <li><a>Feeding</a></li>
            <li><a>Bathing & Skincare</a></li>
            <li><a>Diapering</a></li>
            <li><a>Baby & Toddler Toys</a></li>
            <li><a>Toys & Games</a></li>
          </ul>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <h3 class="header">TOP BRANDS</h3>
          <ul class="list-unstyled">
            <li><a>Apple</a></li>
            <li><a>Samsung</a></li>
            <li><a>Nike</a></li>
            <li><a>Ray-Ban</a></li>
            <li><a>Tefal</a></li>
            <li><a>L'Oreal Paris</a></li>
            <li><a>Chicco</a></li>
            <li><a>Tornado</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="lower">
      <div class="row">
        <div class="col-sm-6 mb-2">
          <div class="d-flex flex-column align-items-center">
            <h4>SHOP ON THE GO</h4>
            <div class="d-flex">
              <a href="#" class="myLink">
                <img
                  src="https://z.nooncdn.com/s/app/com/common/images/logos/app-store.svg"
                />
              </a>
              <a href="#" class="myLink">
                <img
                  src="https://z.nooncdn.com/s/app/com/common/images/logos/google-play.svg"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="d-flex flex-column align-items-center">
            <h4>CONNECT WITH US</h4>
            <ul class="list-unstyled d-flex">
              <li>
                <p>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </p>
              </li>
              <li>
                <p>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </p>
              </li>
              <li>
                <p>
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </p>
              </li>
              <li>
                <p>
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyRight">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-sm-6">
            <div class="copyText text-center">
              <p>&copy; 2022 noon. All Rights Reserved</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="payWays">
              <ul class="d-flex list-unstyled justify-content-around">
                <li>
                  <img
                    src="https://z.nooncdn.com/s/app/com/noon/images/visa-color.svg"
                  />
                </li>
                <li>
                  <img
                    src="https://z.nooncdn.com/s/app/com/noon/images/mastercard-color.svg"
                  />
                </li>
                <li>
                  <img
                    src="https://z.nooncdn.com/s/app/com/noon/images/cash-color.svg"
                  />
                </li>
                <li>
                  <img
                    src="https://z.nooncdn.com/s/app/com/noon/images/amex-color.svg"
                  />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <ul class="nav justify-content-center links">
          <li class="nav-item">
            <a href="#" class="myLink">Active</a>
          </li>
          <li class="nav-item">
            <a href="#" class="myLink">Careers</a>
          </li>
          <li class="nav-item">
            <a href="#" class="myLink">Warranty Policy</a>
          </li>
          <li class="nav-item">
            <a href="#" class="myLink">Sell with us</a>
          </li>
          <li class="nav-item">
            <a href="#" class="myLink">Terms of Use</a>
          </li>
          <li class="nav-item">
            <a href="#" class="myLink">Terms of Sale</a>
          </li>
          <li class="nav-item">
            <a href="#" class="myLink">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
